<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Borrower</title>
</head>
<body>
    <h2>Lists of Borrowers</h2>
    <table border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for borrower in borrowers %}
            <tr>
                <td>{{borrower.id}}</td>
                <td>{{borrower.name}}</td>
                <td><a href="/update-borrower-page/{{borrower.id}}" style="text-decoration:none; color:black;">✏️</a></td>
                <td><a href="/delete-borrower-page/{{borrower.id}}" style="text-decoration:none; color:black;">🗑️</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <form action="/add-borrower-page" method="GET">
        <button>Add</button>
    </form>
</body>
</html>