<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Borrower</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <form action="/update-borrower" method="POST">
        <label for="id">Id:</label>
        <input id='id' type="number" value={{id}} name="id" readonly>
        <label for="name">Name:</label>
        <input id='name' type="text" value='{{name}}' name="name" required>
        <button>Update</button>
        <button type="submit" class='third' formaction="/get-borrower" formmethod="GET" formnovalidate>
            Back
        </button>
    </form>
</body>
</html>