<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Borrower</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <form action="/update-borrower" method="POST">
        <input type="number" value={{id}} name="id" readonly>
        <input type="text" value='{{name}}' name="name" required>
        <button>Update</button>
    </form>
</body>
</html>