<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add book</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <form action="/add-book" method="POST">
        <input type="text" placeholder="Enter book name" name="name" >
        <select name="author_id" required>
            <option value="">--Select Author--</option>
            {% for book in books%}
            <option value="{{book.id}}">{{book.name}}</option>
            {% endfor %}
        </select>
        <button>Add</button>
    </form>
</body>
</html>