<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Books</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">

</head>
<body>
    {% if status == 'success'%}
        <h2>Book found!</h2>
        <label for="book">Book:</label>
        <input type="text" id="book" value="{{book.book_name}}" readonly>
        <label for="author">Author:</label>
        <input type="text" id="author" value="{{book.author_name}}" readonly>
    {% endif %}
    {% if status == 'failure'%}
        <h2>Book not found!</h2>
    {% endif %}
    <form action="/get-book">
        <button>Back</button>
    </form>
</body>
</html>