<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELETE AUTHOR</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <form action="/delete-author" method="POST">
        <label for="id">Id:</label>
        <input id="id" type="number" value={{id}} name="id" readonly>
        <button>Delete</button>

        <button type="submit" class='third' formaction="/get-author" formmethod="GET" formnovalidate>
            Back
        </button>
    </form>
</body>
</html>