<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Author</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <form action="/update-author" method="POST" >
        <label for="id">Id:</label>
        <input id="id" type="number" name="id" value={{id}} readonly><br>
        <label for="name">Name:</label>
        <input id="name" type="text" placeholder="Enter updated author name" name="name" value = "{{name}}" required><br>
        <button>Update</button>

        <button type="submit" class='third' formaction="/get-author" formmethod="GET" formnovalidate>
            Back
        </button>
    </form>
</body>
</html> 