<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-card">
            {% if msg %}
                <p class="message-box-{{msg['status']}}">{{msg['detail']}}</p>
            {% endif %}
            <h2>Login account</h2>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required placeholder="Enter username">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required placeholder="Enter password">
                <div class="page-actions">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>