<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management App</title>
</head>
<body>
    <div>
        <h1>Welcome to the site</h1>
        <h3>Features:   </h3>
    </div><br>
    <div>
        <form id = "addAuthor">1. Add author
        <input type="text" placeholder="Enter Name:" name="name" required>
        <button type ='submit'>Add</button>
        <p id = "result1"></p>
        </form>
    </div><br>
        <div>
        <form id = "addBook">2. Add book <br>
        <input type="text" placeholder="Enter Name:" name="name" required><br>
        <input type ="number" min="1" placeholder ="Enter Author ID" name ="author_id" required><br>
        <button type ='submit'>Add</button>
        <p id = "result2"></p>
        </form>
    </div><br>
    <div>
        <form id = "addBorrower">3. Add borrower
        <input type="text" placeholder="Enter Name:" name ="name" required>
        <button type ='submit'>Add</button>
        <p id = "result3"></p>
        </form>
    </div><br>
    <div>
        <form id = "getLoan">4. Get Loan<br>
        <input type="number" placeholder="Enter Borrower ID:" min="1" name= "borrower_id" required><br>
        <input type="number" placeholder="Enter Book ID:" min="1" name ="book_id" required><br>
        <button type ='submit' >Add</button>
        <p id = "result4"></p>
        </form>
    </div><br>
    <div>
        <form id = "returnLoan">5. Return Loan 
        <input type="number" placeholder="Enter Loan ID:" min="1" name="loan_id" required>
        <button type ='submit'>Enter</button>
        <p id = "result5"></p>
        </form>
    </div><br>
    <div>
        <label>6. Get Books</label><br>
        <button id="getBookBtn" type="submit">Enter</button>
        <p id = "result6"></p>
    </div><br>
    <div>
        <label>7. Get Borrowed Books</label><br>
        <button id="getBorrowedBookBtn" type="submit">Enter</button>
        <p id = "result7"></p>
    </div><br>
        <div>
        <form id ="GetBorrowedBookBorrower">
            <label for="getBorrowedBookBorrower">8. Get Borrowed Books by Borrower</label><br>
            <input type="text" required id="getBorrowedBookBorrower" name="borrower_name" placeholder="Enter Borrower Name">
            <button type="submit" id ="GetBorrowedBookBorrowerBtn">Enter</button>
            <p id = "result8"></p>
        </form>
    </div><br>
        <div>
        <form id="SearchBook">
            <label for="searchBook">9. Search Books(by title/author)</label><br>
            <input type="text" required id="searchBook" name = "search_input" placeholder="Search">
            <button type="submit" id="SearchBookBtn">Enter</button>
            <p id = "result9"></p>
        </form>
    </div><br>
<script>
    const formAuthor = document.getElementById('addAuthor');
    const result1 = document.getElementById("result1")
    formAuthor.addEventListener('submit',function(event){
        event.preventDefault()
        let formData = new FormData(formAuthor);
        fetch("/add-author",{
            method:"POST",
            body: formData
        }).then(response => response.json()).then(data =>{
            result1.innerHTML = "Author Added";
        })
        .catch(error => console.log(error))
    });
    const formBook = document.getElementById('addBook');
    const result2 = document.getElementById("result2");
    formBook.addEventListener('submit',function(event){
        event.preventDefault()
        let formData2 = new FormData(formBook);
        fetch("/add-book",{
            method:"POST",
            body: formData2
        }).then(response => response.json()).then(data=>{
            result2.innerHTML = "Book Added";
        }).catch(error => console.log(error))
    });
    const formBorrower = document.getElementById('addBorrower');
    const result3 = document.getElementById("result3");
    formBorrower.addEventListener('submit',function(event){
        event.preventDefault()
        let formData3 = new FormData(formBorrower);
        fetch("/add-borrower",{
            method:"POST",
            body: formData3
        }).then(response => response.json()).then(data => {
            result3.innerHTML = "Borrower Added";
        })
        .catch(error => console.log(error))
    });
    const formGetLoan = document.getElementById('getLoan');
    const result4 = document.getElementById("result4");
    formGetLoan.addEventListener('submit',function(event){
        event.preventDefault()
        let formData4 = new FormData(formGetLoan);
        fetch("/get-loan",{
            method:"POST",
            body: formData4
        }).then(response => response.json()).then(data => {
            result4.innerHTML = "Loan Issued";
        }).catch(error => console.log(error))
    });
    const formReturnLoan = document.getElementById('returnLoan');
    const result5 = document.getElementById("result5");
    formReturnLoan.addEventListener('submit',function(event){
        event.preventDefault()
        let formData = new FormData(formReturnLoan);
        fetch("/return-loan",{
            method:"PUT",
            body: formData
        }).then(response => response.json()).then(data => {
            result5.innerHTML = "Loan Returned";
        }).catch(error => console.log(error))
    });
    const getBookBtn = document.getElementById("getBookBtn");
    const result6 = document.getElementById("result6");

    getBookBtn.addEventListener("click", function(){
        fetch("/get-books")
        .then(response => response.json())
        .then(data => {
            let output = "";
            data.forEach(book => {
                output += `
                    <p>
                    Book Name: ${book.book_name}<br>
                    Author Name: ${book.author_name}
                    </p>
                    <hr>`;
            });
            result6.innerHTML = output;
        })
        .catch(error => console.log(error));});    
    const getBorrowedBookBtn = document.getElementById("getBorrowedBookBtn");
    const result7 = document.getElementById("result7");

    getBorrowedBookBtn.addEventListener("click", function(){

        fetch("/get-borrowed-books")
        .then(response => response.json())
        .then(data => {

            let output = "";

            data.forEach(book => {
                output += `
                    <p>
                    Book Name : ${book.book_name}<br>
                    Last Borrower : ${book.last_borrower}<br>
                    Date Borrowed : ${book.date_borrowed}<br>
                    Date Returned : ${book.date_returned}<br>
                    Book Status : ${book.book_status}
                    </p>
                    <hr>  
                `;
            });

            result7.innerHTML = output;

        })
        .catch(error => console.log(error));});
    
    const GetBorrowedBookBorrowerForm = document.getElementById("GetBorrowedBookBorrower");
    const result8 = document.getElementById("result8");

    GetBorrowedBookBorrowerForm.addEventListener("submit", function(event){
        event.preventDefault();

        let formData = new FormData(GetBorrowedBookBorrowerForm);
        let borrowerName = formData.get("borrower_name");

        fetch(`/get-books-by-borrower/${encodeURIComponent(borrowerName)}`)
        .then(response => response.json())
        .then(data => {

            if (data.length === 0) {
                result8.innerHTML = "<p>No books found</p>";
                return;
            }

            let output = "";

            data.forEach(book => {
                output += `
                    <p>
                    Loan ID : ${book.loan_id}<br>   
                    Borrower Name : ${book.borrower_name}<br>   
                    Book ID : ${book.book_id}<br>   
                    Date Borrowed : ${book.date_borrowed}<br>   
                    Date Returned : ${book.date_returned}<br>   
                    </p>
                    <hr>
                `;
            });

            result8.innerHTML = output;

        })
        .catch(error => console.log(error));
    });
    const searchBookForm = document.getElementById("SearchBook");
    const result9 = document.getElementById("result9");
    searchBookForm.addEventListener("submit",function(event){
        event.preventDefault();
        let formData = new FormData(searchBookForm);
        let searchinput = formData.get("search_input");
        fetch(`/get-book-advanced?search=${encodeURIComponent(searchinput)}`)
        .then(response => response.json())
        .then(data =>{
            let output = "";

            data.forEach(book => {
                output += `
                    <p>
                    Author Name : ${book.author_name}<br>   
                    Book Name : ${book.book_name}<br>   
  
                    </p>
                    <hr>
                `;
            });

            result9.innerHTML = output;
        })
        .catch(error => console.log(error));
    })
</script>
</body>
</html>