<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library Management System</title>
</head>
<body>
    <h1>Library Management Sysetem</h1>
    <h2>Features</h2>
    <div>
        <p style="font-size:22px">1. Authors</p>
        <a href="/get-author" style="text-decoration:none; color:black; font-size:30px;">▶️</a>
        <p style="font-size:22px">2. Books</p>
        <a href="/get-book" style="text-decoration:none; color:black; font-size:30px;">▶️</a>
        <p style="font-size:22px">3. Borrowers</p>
        <a href="/get-borrower" style="text-decoration:none; color:black; font-size:30px;">▶️</a>
        <p style="font-size:22px">4. Loans</p>
        <a href="/get-loan" style="text-decoration:none; color:black; font-size:30px;">▶️</a>
    </div>
</body>
</html>