<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Loan</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <form action="/delete-loan" method="POST">
        <label for="id">Id:</label>
        <input id='id' type="number" name="id" value={{id}} readonly>
        <button>Delete</button>
        <button type="submit" class='third' formaction="/get-loan" formmethod="GET" formnovalidate>
            Back
        </button>
    </form>
</body>
</html>